name: uv.lock check

on:
  pull_request:
    paths:
      - "pyproject.toml"
      - "uv.lock"

jobs:
  uv-lock-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libcairo2-dev libgirepository1.0-dev

      - uses: hbelmiro/uv-lock-check@v0.2.0
